:root {
  --color-primary: #87CEEB; /* Azul celeste */
  --color-secondary: #FF6F61; /* Rosa coral */
  --color-accent: #FFD700; /* Amarillo pálido */
  --color-background: #E0F8EC; /* Verde menta suave */
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}
